.day {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  min-height: 140px;
}

.disable {
  background-color: #e2e2e2 !important;
}

.disable .dayText {
  color: #A8A8A8;
}

.currentDate {
  color: #2F74B5;
}

.weather {
  height: 25px;
  position: absolute;
  left: 0;
  top: -2px;
}

.tagContainer {
  position: relative;
}

.tagTitle {
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 148px;
  display: block;
}