.day {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  min-height: 140px;
}

.disable {
  background-color: #e2e2e2 !important;
}

.disable .dayText {
  color: #A8A8A8;
}

.currentDate {
  color: #2F74B5;
}